.demo-img {
    border: 1px solid #aaa;
    box-shadow: 1px 1px 10px #999;
    padding: 5px;
    height: 240px;
    width: 100%;
}

#demos {
    padding-top: 80px;
}

.demo-section {
    padding-left: 30px;
    padding-right: 30px;
}

.demo-description {
    padding-top: 20px
}

.demo-read-more {
    margin-top: 10px
}

.demo-description-text {
    margin-top: 25px
}
