* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

/* body {
	color: #000;
	background: #fff;
} */

.em-text {
    color: #1acc98 !important;
}
.page-heading {
    margin-top: 50px;
    height: 800px;
    padding-bottom: 0;
    background: transparent;
}

.page-heading::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    
    height: 800px;
    width: 100%;
    margin-top: 50px;
    z-index: -1;

    background: url(../img/photoshare-heading.jpg);
    background-repeat: no-repeat;
    background-position: 100% 40%;
    background-size: 130% auto;

    -webkit-filter: brightness(95%);
            filter: brightness(95%);
}

.page-heading .store-icon {
    display: inline-block;
    position: relative;
    height: 50px;
    max-width: 40%;
}

.page-heading .store-icon+.store-icon {
    margin-left: 15px;
}

.page-heading .store-icon>img {
    display: block;
    height: 100%;
    max-width: 100%;
}

.heading-subtitle {
    margin-bottom: 35px !important;
    
    color: #fff;
    letter-spacing: 0.15rem;
}

.page-heading .side-image {
    display: inline-block;
    height: 500px;
    margin: 0;
    float: right;
}

.heading-main {
    margin-top: 0px
}

.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flex-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
}

.flex-center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

.demo-img {
    border: 1px solid #aaa;
    box-shadow: 1px 1px 10px #999;
    padding: 5px;
    height: 240px;
    width: 100%;
}

#demos {
    padding-top: 80px;
}

.demo-section {
    padding-left: 30px;
    padding-right: 30px;
}

.demo-description {
    padding-top: 20px
}
.full-height {
    height: 100%;
}

.heading-title {
    color: #fff !important;
    letter-spacing: 0.35rem;
}

.demo-read-more {
    margin-top: 10px
}

.demo-description-text {
    margin-top: 25px
}
