#about-title-bar {
    margin-top: 50px;
}

#about-main {
    margin-top: 80px;
    margin-bottom: 80px;
    
    font-size: 16px;
    color: #555;
    line-height: 2.5rem;
}

.about-main-text::first-letter {
    color: #1caa98;
    padding-left: 7px;
    padding-right: 17px;
    font-size: 40px;
    line-height: 1;
    float: left;
}

#about-milestones {
    margin-top: 50px;
}

.about-milestone-title .glyphicon {
    padding-right: 10px;
}

.about-main-container {
    padding-right: 50px;
}

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

/* body {
	color: #000;
	background: #fff;
} */

.em-text {
    color: #1acc98 !important;
}

.full-height {
    height: 100%;
}

.title-bar {
    color: #fff;
    background-color: #1caa98;
}

.title-bar-heading {
    line-height: 80px;
    letter-spacing: 1.1px;
}

.demo-img {
    border: 1px solid #aaa;
    box-shadow: 1px 1px 10px #999;
    padding: 5px;
    height: 240px;
    width: 100%;
}

#demos {
    padding-top: 80px;
}

.demo-section {
    padding-left: 30px;
    padding-right: 30px;
}

.demo-description {
    padding-top: 20px;
}

.demo-read-more {
    margin-top: 10px;
}

.demo-description-text {
    margin-top: 25px;
}

#features {
    margin-top: 80px;
    
    background-color: #1caa98;
    color: #fff;
}

#features ul {
    list-style: none;
}

.features-feature {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4;
    letter-spacing: 1px;
}

.features-feature .glyphicon {
    padding-right: 15px;
}

.features-heading {
    margin-bottom: 20px;
    
    letter-spacing: 2px;
}

.features-list {
    padding-left:25px;
}

.features-logo {
    margin-left: auto;
    margin-right: auto;
}

.features-section {
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#footer {
    background: #333;
    color: #fff;
    
    line-height: 8.5rem;
}

#footer .container {
    padding-bottom: 0 !important;
}

#footer a {
    color: #fff;
}

#footer ul {
    margin: 0 !important;
    padding: 0 !important;
}

#footer p {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#footer ul li {
    list-style: none;
    display: inline-block;
    padding-left: 15px;
}

.footer-copyright {
    float: right;
}

.footer-navigation-section {
    padding-left: 25px;
}

.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flex-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
}

.flex-center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

.page-heading {
    margin-top: 50px;
    height: 800px;
    padding-bottom: 0;
    background: transparent;
}

.page-heading::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    
    height: 800px;
    width: 100%;
    margin-top: 50px;
    z-index: -1;

    background: url(../img/photoshare-heading.jpg);
    background-repeat: no-repeat;
    background-position: 100% 40%;
    background-size: 130% auto;

    -webkit-filter: brightness(95%);

            filter: brightness(95%);
}

.page-heading .store-icon {
    display: inline-block;
    position: relative;
    height: 50px;
    max-width: 40%;
}

.page-heading .store-icon+.store-icon {
    margin-left: 15px;
}

.page-heading .store-icon>img {
    display: block;
    height: 100%;
    max-width: 100%;
}

.heading-subtitle {
    margin-bottom: 35px !important;
    
    color: #fff;
    letter-spacing: 0.15rem;
}

.page-heading .side-image {
    display: inline-block;
    height: 500px;
    margin: 0;
    float: right;
}

.heading-main {
    margin-top: 0px
}

.heading-title {
    color: #fff !important;
    letter-spacing: 0.35rem;
}
